streamlit
langchain
langgraph
langchain-openai
langchain-community
langchain-ollama
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
openai
python-dotenv
kafka-python-ng
sqlalchemy